@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 2em;
}

menu {
    display: none;
}

h1, h2 {
    margin: 20px;
}

article {
    width: 100%;
}

article::after {
    content: 'Esse artigo foi impresso através do site www.cursoemvideo.com';
}